<h2 class="heading--lg flex center mb-4">Change your password</h2>
<section class="container__sm mb-2 bg-white pd-24-16">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "flex flex-column gap-2 mb-4"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="input">
      <%= f.label :password, "New password" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="input__container">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input__content" %>
      </div>
    </div>
  
    <div class="input">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <div class="input__container">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input__content" %>
      </div>
    </div>
  
    <div class="flex center">
      <%= f.submit "Change my password", class: "button button--sm" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</section>
