<section class="container__sm pt-0">
  <div class="flex-row"><%= image_tag @game.cover, class: "image image_company mb-4"%></div>
  <div class="flex-row flex__bw mb-6">
    <div class="flex-column">
      <h3 class="heading--sm"><%= @game.name %></h3>
      <h5 class="content-xs"><%= @game.release_date.year %></h5>
    </div>
    <div class="rating flex center">
      <span class="content-xl"><%= @game.rating %></span>
    </div>
  </div>

   <div class="contenedor-encabezado mb-4">
    <ul class="encabezado grid mb-4" id="encabezado">
      <li class="item content-sm"><a href="#details">Details</a></li>
      <li class="item content-sm"><a href="#critics">Critics (<%= @game.critics_count %>)</a></li>
    </ul>

    <div class="contentido" id="contenido">
      <div id="details" class="active">
        <p class="content-sm"> <%= @game.summary %></p>
        <div class="mb-4">
          <h4>Genres</h4>
          <div class="flex wrap gap-2">
            <% @game.genres.each do |genre|%>
              <div class="flex gap-2 tag center">
                <span><%= genre.name %></span>
                <div>
                  <% if policy(:game).show? %>
                    <%= link_to game_genre_path(@game, genre), data: {turbo_method: :delete, turbo_confirm: "Seguro?"} do %>
                      <%= image_tag "icons/Icon-x.svg", class:"icon" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="mb-4">
          <h4>Platforms</h4>
          <div class="flex wrap gap-2">
            <% @game.platforms.each do |platform|%>
              <div class="flex gap-2 tag center">
                <span><%= platform.name %></span>
                <div>
                  <% if policy(:game).show? %>
                    <%= link_to game_platform_path(@game, platform), data: {turbo_method: :delete, turbo_confirm: "Seguro?"} do %>
                      <%= image_tag "icons/Icon-x.svg", class:"icon" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="mb-4">
          <h4>Publisher</h4>
          <div class="flex wrap gap-2">
            <% @game.involved_companies.where(publisher: true).each do |relation| %>
              <div class="flex gap-2 tag center">
                <span><%=relation.company.name%></span>
                <div>
                  <% if policy(:game).show? %>
                    <%= link_to game_involved_company_path(@game, relation),data: {turbo_method: :delete, turbo_confirm: "Seguro?"} do %>
                      <%= image_tag "icons/Icon-x.svg", class:"icon" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <%end%>
          </div>
        </div>

        <div class="mb-4">
          <h4>Developer</h4>
          <div class="flex wrap gap-2">
            <% @game.involved_companies.where(developer: true).each do |relation| %>
              <div class="flex wrap gap-2 tag center">
                <%=relation.company.name%>
                <% if policy(:game).show? %>
                  <%= link_to game_involved_company_path(@game, relation),data: {turbo_method: :delete, turbo_confirm: "Seguro?"} do %>
                    <%= image_tag "icons/Icon-x.svg", class:"icon" %>
                  <% end %>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>

    
        <% if policy(:game).show? %>
          <div>
            <h4 class="mb-4">Add relations</h4>
            <%= form_with(model: [@game, @genre], data: { turbo: "false" }, class: "mb-4") do |f| %>
              <div class="flex gap-2">
                <%= f.collection_select :id, @genres, :id, :name, {include_blank: "Select genre"}, {class: "select"} %>
                <%= f.submit "Add Genre", class: "button button--sm"%>
              </div>
            <% end %>

            <%= form_with(model: [@game, @platform], data: { turbo: "false" }, class: "mb-4") do |f| %>
              <div class="flex gap-2">
                <%= f.collection_select :id, @platforms, :id, :name, {include_blank: "Select platform"}, {class: "select"} %>
                <%= f.submit "Add Platform", class: "button button--sm"%>
              </div>
            <% end %>

            <%= form_with(model: [@game, @involved_company], data: { turbo: "false" }, class: "mb-4") do |f| %>
              <div class="flex gap-2">
                <%= f.collection_select :id, @companies, :id, :name, {include_blank: "Select developer"}, {class: "select"} %>              
                <%= f.submit "Add Publisher", class: "button button--sm"%>
              </div>
            <% end %>

            <%= form_with(model: [@game, @involved_company], data: { turbo: "false" }, class: "mb-4") do |f| %>
              <div class="flex gap-2">
                <%= f.collection_select :id, @companies, :id, :name, {include_blank: "Select publisher"}, {class: "select"} %>
                <%= f.submit "Add Developer", class: "button button--sm"%>
              </div>
            <% end %>
          
          </div>
        <% end%>
        
      </div>

      <div id="critics" class="flex flex-column item-center">
        <div >
          <%# POST /games/:game_id/critics %>
          <%=form_with model: [@game, @critic], action: :create, method: :post, class:"flex flex-column center gap-2" do |f|%>
            <div class="input">
              <div class="input__container">
                <%= f.text_field :title, class:"input__content", placeholder:"Critic title..."%>
              </div>
              <%=errors_for(@critic, :body)%>
            </div>

            <div class="input">
              <div class="input__container">
                <%= f.text_area :body, class:"input__content", placeholder:"Critic body..."%>
              </div>
              <%=errors_for(@critic, :body)%>
            </div>
            
              <%= f.submit "create critic", class: "button button--sm" %>
            
          <%end%>

        </div>

        <div class="flex-column gap-2 mb-4">
          <%@critics.each do |critic|%>
            <div>
              <br>
              <hr>
              <p class="heading--sm mt-2"><%=critic.title%></p>
              <p class="content-xs">By <%=critic.user.username%></p>
              <p class="small"><%=critic.body%></p>
              <div class="flex flex__bw">
                <p class="content-xs"><%= "Send #{Date.today.day - critic.created_at.day} days ago" %></p>
                <div class="flex gap-2">
                   <% if !critic.approved  %>
                      <% if current_user.role == "admin" %>
                        <%= form_with model: [@game, critic], method: :patch do |f| %>
                          <%= f.submit "Approve", class: "content-sm button-none"%>
                        <% end %>
                      <% elsif current_user.role == "contributor" %>
                        <span class="content-sm primary-300">Pending Approve</span>
                      <% end %>
                    <% end%>

                  <%=button_to image_tag("icons/trash.svg"), 
                          game_critic_path(@game, critic),
                          method: :delete, "data-turbo": "false",
                          class: "action-icon"%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>

    </div>
  </div>
  
  <div class="flex center"><%= link_to "Back", root_path, class:"button button--sm" %></div>

</section>