<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= company.start_date %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= link_to company.cover.filename, company.cover if company.cover.attached? %>
  </p>

</div>
